#content {
  flex-direction: column;
}

#nav-about {
  background-color: var(--darker);
}

section {
  overflow: auto;
  padding: 0 16px;
}

#about-content {
  margin: 16px;
}

#copyright {
  color: lightgray;
  font-size: 10pt;
  padding-top: 8px;
}
