#content {
  display: flex;
  flex: 1 1 auto;
  overflow: auto;
  bottom: 0;
  flex-direction: column;
  padding: 0 16px;
}

#nav-about {
  background-color: var(--darker);
}

section {
  overflow: auto;
}

#about-content {
  margin: 16px;
}

#copyright {
  color: lightgray;
  font-size: 10pt;
}
