/*
  Variables
*/
:root {
  --backdrop-color: #383c4a;
  --canvas-color: #404552;
  --secondary-color: #4b5162;
  --accent-color: #8ebbd1;
  --darker: #323643;
  --lighter: #454b58;
  --top: 140px;
   scrollbar-color: #222222 #424242;
}

/*
  Global Styles
*/

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: var(--backdrop-color);
  color: white;
}

#wrapper {
  background-color: var(--canvas-color);
}

#fixed-elems, aside {
  position: fixed;
  width: 100%;
  max-width: 1600px;
  z-index: 2;
  background-color: var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--backdrop-color);
}

.btn:hover {
  transition: 0.0s;
  background-color: var(--darker);
}

.icon {
  width: 36px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.ns {
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

.mobile {
  display: none;
}

/*
  Nav Styles
*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14pt;
  border-bottom: 3px solid var(--backdrop-color);
}

#logo {
  display: flex;
  align-items: center;
  width: 12%;
  min-width: 250px;
  margin-right: 36px;
}

nav h1 {
  font-size: 16pt;
  padding-left: 16px;
  font-weight: normal;
  font-family: 'Patua One', sans-serif;
}

#logo img {
  height: 56px;
}

#logo span {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 8px;
}

#main-link {
  margin-left: 16px;
}

.nav-buttons {
  width: 20%;
  min-width: 210px;
  margin-right: 16px;
  padding: 12px;
}

#search {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

#search input {
  width: 80%;
  margin-right: 16px;
  border-radius: 2px;
  padding: 10px;
  font-size: 12pt;
  color: black;
  background-color: lightgray;
}

#search a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

/*
  MotD Styles
*/
header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color);
  color: black;
}

#motd {
  line-height: 1.5;
}

#motd-close {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 16px;
  margin-right: 8px;
  font-size: 32pt;
  line-height: 16px;
  color: black;
}

#motd-close:hover {
  color: red;
}

/*
  Aside Styles
*/
aside {
  width: 250px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: var(--top);
  z-index: 0;
  height: 100%;
}

aside h2 {
  font-size: 16pt;
  margin-top: 26px;
  margin-bottom: 16px;
}

aside li {
  padding: 16px;
  border-top: 1px solid darkgray;
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

aside li:last-child {
  border-bottom: 1px solid darkgray;
}

aside li span {
  margin-left: 16px;
}

#color-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.color-inactive, .color-active {
  cursor: pointer;
  transition: 0.4s;
}

.color-inactive {
  opacity: 0.3;
}

.color-inactive:hover {
transition: 0.0s;
  opacity: 0.6;
}

#advertisement {
  width: 250px;
  height: 250px;
  background-color: darkgray;
  margin-top: 16px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-active {
  background-color: var(--backdrop-color);
}

.filter-inactive {
  transition: 0.4s;
}

.filter-inactive:hover {
  transition: 0.0s;
  background-color: var(--canvas-color);
}

/*
  Section Styles
*/
section {
  max-width: 1254px;
  padding-top: var(--top);
  margin-left: 282px;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 4;
}

#flex-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}

#db-select {
  font-size: 16pt;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: var(--backdrop-color);
  color: white;
  padding: 12px;
  border: 0;
  border-radius: 2px;
  width: 350px;
  transition: 0.4s;
}

#db-select:hover {
  transition: 0.0s;
  background-color: var(--darker);
}

#submit-wrap {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#submit-wrap a {
  font-size: 16pt;
  padding: 12px;
  margin-left: 16px;
  width: 300px;
}

#description {
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 1.5;
}

/* 
  Footer Styles
*/
section {
  padding-bottom: 104px;
}

#copyright {
  color: lightgray;
  font-size: 10pt;
  padding-bottom: 16px;
}

/*
  Database Styles
*/

/* Overall Styles */
#ddb {
  width: 100%;
  padding-bottom: 32px;
  border-spacing: 0;
}

td {
  border-top: 2px solid var(--darker);
}

.col1 {
  width: 240px;
}

.col3 {
  width: 230px;
}

.d-icon {
  height: 28px;
}

/* Main Row Styles */
.main td {
  padding: 8px 16px;
  background-color: var(--backdrop-color);
}

.c-inactive {
  filter: brightness(0%) invert(.4);
}

.t-false {
  filter: invert(100%) brightness(50%);
}

.deck-tags {
  text-align: right;
}

.deck-title span {
  font-size: 16pt;
  padding-left: 16px;
}

/* Sub Row Styles */
.sub td {
  background-color: var(--lighter);
}

.sub {
  transition: 0.3s;
}

.sub-hide {
  display: none;
}

.sub, .card-wrap, .deck-description {
  height: 334px;
  width: 100%;
}

.card-wrap {
  padding-top: 15px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
}

.card {
  width: 100%;
}

.card:hover {
  z-index: 2;
}

.card2 .card {
  position: absolute;
  width: 218px;
}

.card:nth-child(2) {
  position: absolute;
  margin-left: 16px;
  margin-top: 34px;
  z-index: 1;
}

.deck-info {
  height: 100%;
  padding: 16px;
  padding-left: 0;
  vertical-align: text-top;
}

.info-wrap {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.info-wrap > div {
  margin-left: 16px;
}

.links {
  min-width: 380px;
  position: relative;
  background-color: var(--canvas-color);
}

.d-discord {
  display: flex;
  align-items: center;
  border-radius: 0px;
  text-align: left;
  padding: 8px;
  font-size: 14pt;
}

.d-discord img {
  padding-right: 10px;
  padding-left: 2px;
  height: 26px;
}

.no-discord {
  cursor: not-allowed !important;
}

.no-discord img {
  filter: grayscale(100%) brightness(0%);
}

.deck-list {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  overflow: auto;
  scrollbar-width: thin;
  height: 274px;
  margin-bottom: 0;
  
}

.deck-list li a {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.deck-list span {
  margin-left: 8px;
  padding-top: 2px;
  color: skyblue;
  font-weight: bold;
  font-size: 12pt;
  text-decoration: underline;
}

.desc-wrapper {
  width: 100%;
  position: relative;
  background-color: var(--canvas-color);
  padding: 16px;
}

.description {
  width: 100%;
  font-size: 14pt;
  position: relative;
  max-height: 280px;
  overflow: auto;
}

.d-date {
  position: absolute;
  bottom: 8px;
  width: 100%;
  padding: 0;
  right: 16px;
  font-size: 12pt;
  text-align: right;
  font-style: italic;
}

.date {
  font-weight: bold;
  font-size: 14pt;
  font-style: normal;
}
