/* Mobile Adjustments */
@media (max-width: 1200px) {
  #content {
    flex-wrap: wrap;
  }
  
  section {
    padding-bottom: 500px !important;
  }
  
  aside {
    width: 100% !important;
    height: auto !important;
  }
  
  #advertisement {
    height: 100px !important;
    width: 100% !important;
    margin: 0 !important;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  
  #db-functions {
    flex-wrap: wrap;
  }
  
  #db-search {
    padding: 8px !important;
    margin: 8px;
  }
  
  #db-select, #db-sort {
    margin: 8px !important;
    flex-grow: 1;
  }
}

/* Aside Styles */
aside {
  width: 250px;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 0;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

aside h2 {
  font-size: 16pt;
  padding: 16px 0;
  margin: 0;
}

aside li {
  padding: 16px;
  border-top: 1px solid darkgray;
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

aside li:last-child {
  border-bottom: 1px solid darkgray;
}

aside li span {
  margin-left: 16px;
}

#color-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.color-inactive {
  opacity: 0.3;
  transition: 0.4s;
}

.color-inactive:hover {
  transition: 0.0s;
  opacity: 0.6;
}

#advertisement {
  height: 100%;
  width: 250px;
  background-color: var(--canvas-color);
  margin-bottom: 16px;
}

.filter-active {
  background-color: var(--backdrop-color);
}

.filter-inactive {
  transition: 0.4s;
}

.filter-inactive:hover {
  transition: 0.0s;
  background-color: var(--canvas-color);
}

/* Section Styles */
section {
  overflow: auto;
  padding: 16px;
}

#db-functions {
  display: flex;
  justify-content: space-between;
}

#db-search {
  flex-grow: 1;
  font-size: 14pt;
  padding: 0 8px;
  color: black;
  background-color: lightgray;
}

#db-select, #db-sort {
  font-size: 16pt;
  padding: 8px;
  margin-right: 16px;
  color: white;
  border: 0;
  min-width: 220px;
}

#db-description {
  margin: 16px 0;
  line-height: 1.5;
}
