/*
  Variables
*/
:root {
  --backdrop-color: #383c4a;
  --canvas-color: #404552;
  --secondary-color: #4b5162;
  --accent-color: #8ebbd1;
  --darker: #323643;
}

/*
  Global Styles
*/

body {
  width: 100%;
  /*max-width: 1600px;*/
  margin: 0 auto;
  font-family: sans-serif;
  background-color: var(--backdrop-color);
  color: white;
}

#wrapper {
  background-color: var(--canvas-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/*
.btn {
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--backdrop-color);
}*/

.icon {
  width: 36px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.ns {
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

nav, aside, #flex-title {
  position: fixed;
  width: 100%;
  z-index: 150;
}

/*
  Nav Styles
*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  top: 0;
  background-color: var(--secondary-color);
}

nav h1 {
  display: none;
}

#main-link {
  display: none;
}

#logo img, #discord-m {
  height: 40px;
}

#logo img {
  margin: 8px;
}

.nav-buttons span {
  display: none;
}

.mhide {
  display: none !important;
}

#search {
  width: 100%;
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

#search input {
  margin-right: 8px;
  border-radius: 2px;
  padding: 10px;
  color: black;
  width: 80%;
  font-size: 12pt;
  background-color: lightgray;
}

#search a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--backdrop-color);
}

#search a:hover {
  background-color: var(--darker);
}

#m-dropdown {
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--backdrop-color);
  color: white;
  padding: 8px;
  cursor: pointer;
}

#m-dropdown:hover {
  background-color: var(--darker);
}

/*
  MotD Styles
*/
header {
  padding: 16px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color);
  color: black;
}

#motd {
  line-height: 1.5;
}

#motd-close {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 16px;
  margin-right: 8px;
  font-size: 32pt;
  line-height: 16px;
  color: black;
}

#motd-close:hover {
  color: red;
}

/*
  Aside Styles
*/
aside {
  margin-top: 120px;
  top: 0;
}

aside h2 {
  display: none;
}

aside li {
  padding: 16px;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

aside li:last-child {
  border-bottom: 1px solid lightgray;
}

aside li span {
  margin-left: 16px;
}

#color-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.color-inactive, .color-active {
  cursor: pointer;
}

.color-inactive {
  opacity: 0.3;
}

.color-inactive:hover {
  opacity: 0.6;
}

#advertisement {
  display: none;
}

.filter-active {
  background-color: var(--backdrop-color);
}

.filter-inactive:hover {
  background-color: var(--canvas-color);
}

/*
  Section Styles
*/
#flex-title {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 370px;
  padding-bottom: 16px;
  margin-top: 0;
  top: 0;
  z-index: 149;
  background-color: var(--secondary-color);
  border-bottom: 3px solid var(--backdrop-color);
}

#db-select {
  font-size: 16pt;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: var(--backdrop-color);
  color: white;
  padding: 8px;
  text-align: center;
  border: 0;
  border-radius: 2px;
  padding-left: 28px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  max-width: 350px;
}

#db-select:hover {
  background-color: var(--darker);
}

#submit-wrap {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--backdrop-color);
  margin: 8px auto;
  max-width: 350px;
  width: 100%;
}

#submit-wrap:hover {
  background-color: var(--darker);
}

#submit-wrap a {
  font-size: 16pt;
  padding: 12px;
  margin-left: 16px;
  width: 300px;
}

#description {
  padding-top: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  line-height: 1.5;
  margin-left: 16px;
  margin-right: 16px;
}

/*
  Database Styles
*/

/* Overall Styles */
#ddb {
  width: 100%;
  padding-bottom: 32px;
  border-spacing: 0;
}

#ddb tr {
  display: block;
}

td {
  border-top: 2px solid var(--darker);
}

.d-icon {
  height: 28px;
}

/* Main Row Styles */
.main {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.deck-colors {
  order: 0;
  flex-grow: 1;
}

.icon-wrap {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.deck-tags {
  order: 1;
}

.deck-title {
  padding-bottom: 8px;
  order: 2;
  width: 100%;
  text-align: left;
  border-top: 0;
}

.main td {
  background-color: var(--backdrop-color);
}

.c-inactive {
  filter: brightness(0%) invert(.4);
}

.t-false {
  filter: invert(100%) brightness(50%);
}

.deck-tags {
  text-align: right;
}

.deck-title span {
  font-size: 16pt;
  padding-left: 16px;
}

/* Sub Row Styles */
.sub td {
  background-color: var(--lighter);
}

.sub-hide {
  display: none !important;
}

.card-wrap {
  display: none;
}

.deck-info {
  padding: 8px;
  padding-left: 0;
  vertical-align: text-top;
}

.info-wrap {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: space-between;
}

.info-wrap > div {
  margin-left: 16px;
  margin-right: 16px;
}

.links {
  background-color: var(--canvas-color);
}

.d-discord {
  display: flex;
  align-items: center;
  border-radius: 0px;
  text-align: left;
  padding: 8px;
  font-size: 12pt;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--backdrop-color);
}

.d-discord img {
  padding-right: 10px;
  padding-left: 2px;
  height: 26px;
}

.no-discord {
  cursor: not-allowed !important;
}

.no-discord img {
  filter: grayscale(100%) brightness(0%);
}

.deck-list {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 0;
  
}

.deck-list li a {
  display: flex;
  align-items: center;
  padding-top: 4px;
}

.deck-list span {
  margin-left: 8px;
  padding-top: 2px;
  color: skyblue;
  font-weight: bold;
  font-size: 12pt;
  text-decoration: underline;
}

.desc-wrapper {
  background-color: var(--canvas-color);
  padding: 8px;
  display: flex;
  flex-direction: column-reverse;
}

.description {
  width: 100%;
  font-size: 12pt;
  padding-top: 8px;
  padding-bottom: 8px;
}

.d-date {
  top: 8px;
  width: 100%;
  padding: 0;
  left: 8px;
  font-size: 16pt;
}

.date {
  font-weight: bold;
  font-size: 14pt;
  font-style: normal;
}

.date-prefix {
  display: none;
}

.d-commanders {
  font-size: 18pt;
  color: skyblue;
  text-decoration: underline;
}

/*
  Advertisement Styles
*/
#mobile-ad {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 150;
  height: 80px;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding-bottom: 104px;
}

#copyright {
  color: lightgray;
  font-size: 10pt;
  margin: 16px;
}
