@media (max-width: 1200px) {
  #content {
    flex-direction: column;
  }
  
  aside, section{
    width: auto !important;
    overflow: visible !important;
  }
  
  section {
    margin: 4px !important;
  }
}

#nav-submit {
  background-color: var(--darker);
}

/* Section Styles */
section {
  margin: 16px;
}

aside {
  background-color: var(--secondary-color);
  padding: 16px;
  overflow: auto;
  width: 30%;
}

/* Form Styles */
form {
  font-size: 16pt;
  padding-left: 8px;
}

.readonly {
  pointer-events: none;
  filter: grayscale(100%) opacity(40%);
}

form > div {
  margin-bottom: 16px;
}

form label {
  margin-bottom: 4px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#title-wrap input {
  margin-right: 16px;
}

#title-wrap, #commander-wrap input, #discord-info input {
  flex-grow: 1;
}

#commander-wrap input:last-child, #discord-info input:last-child {
  margin-left: 16px;
}

form ul {
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

#list-wrap {
  display: flex;
  flex-direction: column;
}

#add-deck {
  margin-top: 8px;
  padding: 12px;
}

form li {
  list-style-type: none;
  margin-bottom: 8px;
}

.list-title, .list-link {
  margin-right: 16px;
}

form button {
  font-size: 16pt;
  color: white;
}

form input::placeholder, form textarea::placeholder {
  opacity: .75;
  font-style: italic;
  color: white;
}

form input, form textarea, form select, form button {
  background-color: var(--darker);
  color: white;
  border: none;
}

form li div > input {
  flex-grow: 1;
}

.delete-list {
  cursor: pointer;
  transition: 0.3s;
  font-size: 26pt;
  line-height: 16px;
  margin-right: 8px;
  color: red;
}

form select {
  font-size: 18pt;
  padding: 8px 16px;
}

form [type="text"] {
  font-size: 14pt;
  padding: 8px;
}

textarea {
  font-size: 12pt;
  font-family: sans-serif;
  padding: 8px;
}

#color-select img {
  cursor: pointer;
  opacity: 0.3;
}

#color-select input + img:hover {
  opacity: 0.5;
}

#color-select input:checked + img {
  opacity: 1;
}

#color-select input:checked + img:hover {
  opacity: 1;
}

#discord-wrap {
  margin-bottom: 4px;
}

#list-wrap ul li:first-child .delete-list {
  visibility: hidden;
}

#submit-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

#submit-button {
  font-size: 18pt;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--accent-color);
  color: black;
}

#submit-button:hover {
  filter: brightness(0.9);
}
