/*
  Variables
*/
:root {
  --backdrop-color: #383c4a;
  --canvas-color: #404552;
  --secondary-color: #4b5162;
  --accent-color: #8ebbd1;
  --darker: #323643;
  --lighter: #454b58;
  --top: 92px;
   scrollbar-color: #222222 #424242;
   height: 100%;
}

/*
  Global Styles
*/

.hidden {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: var(--backdrop-color);
  color: white;
}

#wrapper {
  background-color: var(--canvas-color);
  height: 100%;
}

#fixed-elems {
  z-index: 3;
  background-color: var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--backdrop-color);
}

.btn:hover {
  transition: 0.0s;
  background-color: var(--darker);
}

.icon {
  width: 36px;
}

.ns {
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

.mobile {
  display: none;
}

/*
  Nav Styles
*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14pt;
  border-bottom: 3px solid var(--backdrop-color);
}

#logo {
  display: flex;
  align-items: center;
  width: 12%;
  min-width: 250px;
  margin-right: 36px;
}

nav h1 {
  font-size: 16pt;
  padding-left: 16px;
  font-weight: normal;
  font-family: 'Patua One', sans-serif;
}

#logo img {
  height: 56px;
}

#logo span {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 8px;
}

.nav-buttons {
  width: 20%;
  min-width: 210px;
  margin-right: 16px;
  padding: 12px;
}

/*
  MotD Styles
*/
header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color);
  color: black;
}

#motd {
  line-height: 1.5;
}

#motd-close {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 16px;
  margin-right: 8px;
  font-size: 32pt;
  line-height: 16px;
  color: black;
}

#motd-close:hover {
  transition: 0s;
  color: red;
}

/*
  Section Styles
*/

#content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

aside {
  min-width: 300px;
  background-color: var(--secondary-color);
  flex-grow: 1;
  margin-right: 16px;
  padding: 16px;
}

#content {
  width: 900px;
  padding-top: 16px;
  padding-right: 16px;
}

#copyright {
  color: lightgray;
  font-size: 10pt;
}


/*
  Form Styles
*/

form {
  font-size: 16pt;
}

form > div {
  margin-bottom: 16px;
}

form label {
  margin-bottom: 4px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#title-wrap input {
  width: 90%;
}

#title-wrap, #commander-wrap input, #discord-info input {
  flex-grow: 1;
}

#commander-wrap input:last-child, #discord-info input:last-child {
  margin-left: 16px;
}


form ul {
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

form li {
  list-style-type: none;
  margin-bottom: 8px;
}

.list-title, .list-link {
  margin-right: 16px;
}

form button {
  font-size: 16pt;
  color: white;
}

::placeholder {
  opacity: .75;
  font-style: italic;
  color: white;
}

form input {
  background-color: var(--darker);
  color: white;
}

form [type="submit"] {
  font-size: 18pt;
}

form li div > input {
  flex-grow: 1;
}

.delete-list {
  cursor: pointer;
  transition: 0.3s;
  font-size: 26pt;
  line-height: 16px;
  margin-right: 8px;
  color: red;
}

form [type="text"] {
  font-size: 14pt;
  padding: 8px;
}

textarea {
  font-size: 12pt;
  font-family: sans-serif;
}



































