---
layout: none
---
<!DOCTYPE html>
<!--
6/16/2020
404 Page with available redirects
-->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>404 - cEDH Decklist Database</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A collection of Magic: The Gathering (MTG) decks from the Competitive EDH Format." />
  <meta name="keywords" content="mtg,cedh,edh,magic,decks,decklists,database,competitive" />

  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="/styles/global.css" />
  <link rel="stylesheet" type="text/css" href="/styles/404.css" />
</head>

<body>
  <div id="wrapper">
    {% include navbar.html %}

    <div id="content">
      <h1>404</h1>
      <h2>Page not found</h2>
      <div>
        <a href="/">Return to the Database</a>
    </div>
  </div>
  {% include analytics.html %}
</body>
</html>
