---
layout: none
---
<!DOCTYPE html>
<!--
07/07/2020
About Us page for the cDDB
-->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About - cEDH Decklist Database</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A collection of Magic: The Gathering (MTG) decks from the Competitive EDH Format." />
  <meta name="keywords" content="mtg,cedh,edh,magic,decks,decklists,database,competitive" />
  
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/global.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./styles/about.css" />
  <!-- Page Scripts -->
  <script src="scripts/about.js"></script>

  <!-- Logo Font -->
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap&text=DacestEHklibCompv" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    {% include navbar.html %}
  
    <div id="content">
      <aside>
        <div id="changelog-title">Changelog</div>
        {%- assign updates = site.updates | sort: 'url' | reverse | where_exp:"x","x.title != 'CHANGE_ME'" -%}
        <select id="update-select">
          {%- for update in updates -%}
            <option value="{{ update.url }}">{{ update.title }}</option>
          {%- endfor -%}
        </select>
        
        {%- for update in updates -%}
          <div class="hidden update" id="update-{{ update.url }}">
            {{ update.content | replace: "id=", "data-content-id=" }}
          </div>
        {%- endfor -%}
      </aside>
      <section>
        <div id="about">
          {% capture content %}
          {%- include_relative _markdown/about.md -%}
          {% endcapture %}
          {{ content | escape | markdownify | replace: "id=", "data-content-id=" }}
        </div>
        <div id="copyright">
          The cEDH Decklist Database is unofficial Fan Content permitted under the Fan Content Policy.
          This site is not approved and/or endorsed by Wizards of the Coast.<br/>
          Portions of the materials used are property of Wizards of the Coast, ©Wizards of the Coast LLC.
        </div>
      </section>
    </div>
  </div>
  
  {% include analytics.html %}
</body>
</html>
