---
layout: none
---
<!DOCTYPE html>
<!--
07/07/2020
About Us page for the cDDB
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>About the DDB - cEDH Decklist Database</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/about.css" />
  <!-- Page Scripts -->
  <script defer src="/scripts/about.js"></script>
</head>

<body>
  <div id="wrapper">
    {% include navbar.html %}
  
    <div id="content">
      <aside>
        {%- assign updates = site.updates | sort: 'date' | reverse -%}
        
        
        <div id="updates">
          {% for update in updates -%}
            <div data-index="{{forloop.index}}" class="{% if forloop.index > 1%}hidden{% endif %} update">
              <div class="controls">
                <div class="newer arrow {% if forloop.index == 1 %}end-arrow{% endif %}" data-index="{{forloop.index | minus: 1}}">{% include svg/back.svg %}</div>
              
                <div class="flex-column title-wrap">
                  <div class="date">{{update.date | slice: 0, 10 | date_to_string: "ordinal", "US"}}</div>
                  <div class="title">{{update.title | escape}}</div>
                </div>
                
                <div class="older arrow {% if forloop.last == true %}end-arrow{% endif %}" data-index="{{forloop.index | plus: 1}}">{% include svg/forward.svg %}</div>
              </div>
              <div class="content">
                {{ update.content | replace: "id=", "data-content-id=" }}
              </div>
            </div>
          {% endfor %}
        </div>
      </aside>
      <section>
        <div id="about">
          {% capture content %}
          {%- include markdown/about.md -%}
          {% endcapture %}
          {{ content | escape | markdownify | replace: "id=", "data-content-id=" }}
        </div>
        <div id="privacy">
          {% capture content %}
          {%- include markdown/admin/privacy.md -%}
          {% endcapture %}
          {{ content | escape | markdownify | replace: "id=", "data-content-id=" }}
        </div>
        {% include legal.html %}
      </section>
    </div>
  </div>
</body>
</html>
