---
layout: none
---
<!DOCTYPE html>
<!--
07/07/2020
About Us page for the cDDB
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>Copyright - cEDH Decklist Database</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/copyright.css" />
  
</head>

<body>
  <div id="wrapper">
    {% include navbar.html %}
  
    <div id="content">
      <section class="flex-column">
        <div class="flex-column" id="icons">
          <div class="">{% include svg/discord-logo.svg %} Copyright Discord</div>
          <div class="">{% include svg/back.svg %} MIT License, sourced from:&nbsp;<a href="https://tablericons.com/">Tabler Icons</a></div>
          <div class="">{% include svg/forward.svg %} MIT License, sourced from:&nbsp;<a href="https://tablericons.com/">Tabler Icons</a></div>
          <div class="">{% include svg/primer.svg %} MIT License, sourced from:&nbsp;<a href="https://tablericons.com/">Tabler Icons</a></div>
          <div class="">{% include svg/recommend.svg %} MIT License, sourced from:&nbsp;<a href="https://tablericons.com/">Tabler Icons</a></div>
          <div class="">{% include svg/edit.svg %} MIT License, sourced from:&nbsp;<a href="https://tablericons.com/">Tabler Icons</a></div>
          <div class="">{% include svg/colors/w.svg %} Modified, Copyright:&nbsp;<a href="http://fontawesome.io/">CC BY 4.0 Dave Grandy</a></div>
          <div class="">{% include svg/colors/u.svg %} Modified, Copyright:&nbsp;<a href="https://raw.githubusercontent.com/Templarian/MaterialDesignLight/master/LICENSE.md">Open Font License from Material Design Light</a></div>
          <div class="">{% include svg/colors/b.svg %} Modified, Copyright:&nbsp;<a href="https://raw.githubusercontent.com/Templarian/MaterialDesignLight/master/LICENSE.md">Open Font License from Material Design Light</a></div>
          <div class="">{% include svg/colors/r.svg %} Modified, Copyright:&nbsp;<a href="https://raw.githubusercontent.com/Templarian/MaterialDesignLight/master/LICENSE.md">Open Font License from Material Design Light</a></div>
          <div class="">{% include svg/colors/g.svg %} Modified, Copyright:&nbsp;<a href="https://iconify.design/icon-sets/whh/">Open Font License from WebHostingHub Glyphs</a></div>
          
        </div>
        <div>{% include legal.html %}</div>
      </section>
    </div>
  </div>
</body>
</html>
