---
layout: none
---
<!DOCTYPE html>
<!--
6/16/2020
The main page of the cEDH decklist database
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>cEDH Decklist Database - Competitive Commander Decks</title>
  
  <style>{% include styles/main.css %}</style>
  
  <!-- Google AdSense -->
  <script data-ad-client="ca-pub-4373090976253918" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
  <div id="wrapper">
    {% include navbar.html %}
    <div id="mobile-filters" class="mobile ns">
      + Show Filters
    </div>

    <div id="content">
      <aside></aside>
      <aside id="aside" class="">
        <h2>Filters</h2>
        <div id="filter-wrap" class="mhide">
          <div id="color-filters" class="ns">
            <div class="icon pt color-inactive" data-c="w">{% include svg/colors/w.svg %}</div>
            <div class="icon pt color-inactive" data-c="u">{% include svg/colors/u.svg %}</div>
            <div class="icon pt color-inactive" data-c="b">{% include svg/colors/b.svg %}</div>
            <div class="icon pt color-inactive" data-c="r">{% include svg/colors/r.svg %}</div>
            <div class="icon pt color-inactive" data-c="g">{% include svg/colors/g.svg %}</div>
          </div>
          <ul id="entry-filters" class="ns list">
            <li id="rec-only" class="filter-inactive">
              {% include svg/recommend.svg %}
              <span>Recommendations</span>
            </li>
            <li id="primer-only" class="filter-inactive">
              {% include svg/primer.svg %}
              <span>Primers</span>
            </li>
            <li id="discord-only" class="filter-inactive">
              {% include svg/discord.svg %}
              <span>Discord Servers</span>
            </li>
          </ul>
        </div>
        <div id="advertisement">
        </div>
      </aside>
      
      <section id="section">
        <div id="database-controls" class="ns flex mhide">
          <div class="flex-column">
            <label for="db-section">Section</label>
            <select id="db-section" autocomplete="off">
              <option value="COMPETITIVE">Competitive Decks</option>
              <option value="DEPRECATED">Deprecated Decks</option>
              <option value="MEME">Meme Decks</option>
            </select>
          </div>
          <div class="flex-column">
            <label for="db-sort">Sort</label>
            <select id="db-sort" autocomplete="off">
              <option value="COLOR">Sort by Color</option>
              <option value="NEW">Sort by Newest</option>
              <option value="TITLE">Sort by Title</option>
            </select>
          </div>
          <div id="search-wrap" class="flex-column">
            <label for="db-search">Search</label>
            <input id="db-search" type="search" placeholder="Search the database..." name="search" aria-label="search" autocomplete="off"></input>
          </div>
        </div>
        <div id="mobile-desc" class="mobile ns">
          Competitive Decks
        </div>
        <div id="db-description" class="mhide">
          <div id="competitive-desc">
            {% capture competitive %}
            {%- include markdown/tables/competitive.md -%}
            {% endcapture %}
            {{ competitive | escape | markdownify | replace: "id=", "data-content-id=" }}
          </div>
          <div id="deprecated-desc" class="hidden">
            {% capture deprecated %}
            {%- include markdown/tables/deprecated.md -%}
            {% endcapture %}
            {{ deprecated | escape | markdownify | replace: "id=", "data-content-id=" }}
          </div>
          <div id="meme-desc" class="hidden">
            {% capture meme %}
            {%- include markdown/tables/meme.md -%}
            {% endcapture %}
            {{ meme | escape | markdownify | replace: "id=", "data-content-id=" }}
          </div>
        </div>
        
        {% include database.html %}
        
        {% include legal.html %}
      </section>
    </div>
  </div>
  
  <script>{% include scripts/main.js %}</script>
</body>
</html>
