---
layout: none
---
<!DOCTYPE html>
<!--
6/16/2020
The main page of the cEDH decklist database
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>cEDH Decklist Database</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css" />
  
  <!-- Google AdSense -->
  <script data-ad-client="ca-pub-4373090976253918" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
  <div id="wrapper">
    {% include navbar.html %}

    <div id="content">
      <aside id="aside">
        <h2>Filters</h2>
        <div id="filter-wrap">
          <div id="color-filters" class="ns">
            <div class="icon pt color-inactive" data-c="w">{% include svg/colors/w.svg %}</div>
            <div class="icon pt color-inactive" data-c="u">{% include svg/colors/u.svg %}</div>
            <div class="icon pt color-inactive" data-c="b">{% include svg/colors/b.svg %}</div>
            <div class="icon pt color-inactive" data-c="r">{% include svg/colors/r.svg %}</div>
            <div class="icon pt color-inactive" data-c="g">{% include svg/colors/g.svg %}</div>
          </div>
          <ul id="entry-filters" class="ns list">
            <li id="rec-only" class="filter-active">
              {% include svg/recommend.svg %}
              <span>Recommendations</span>
            </li>
            <li id="primer-only" class="filter-inactive">
              {% include svg/primer.svg %}
              <span>Primers</span>
            </li>
            <li id="discord-only" class="filter-inactive">
              {% include svg/discord.svg %}
              <span>Discord Servers</span>
            </li>
          </ul>
        </div>
        <div id="advertisement"></div>
      </aside>
      
      <section id="section">
        <div id="db-functions" class="ns">
          <select id="db-section" class="btn" autocomplete="off">
            <option value="COMPETITIVE">Competitive Decks</option>
            <option value="DEPRECATED">Deprecated Decks</option>
            <option value="MEME">Meme Decks</option>
          </select>
          <select id="db-sort" class="btn" autocomplete="off">
            <option value="NEW">Sort by Newest</option>
            <option value="TITLE">Sort by Title</option>
            <option value="COLOR">Sort by Color</option>
          </select>
          <input id="db-search" type="search" placeholder="Search the database..." name="search" aria-label="search" autocomplete="off">
        </div>
        <div id="db-description">
          <div id="competitive-desc">
            {% capture competitive %}
            {%- include markdown/tables/competitive.md -%}
            {% endcapture %}
            {{ competitive | escape | markdownify | replace: "id=", "data-content-id=" }}
          </div>
          <div id="deprecated-desc" class="hidden">
            {% capture deprecated %}
            {%- include markdown/tables/deprecated.md -%}
            {% endcapture %}
            {{ deprecated | escape | markdownify | replace: "id=", "data-content-id=" }}
          </div>
          <div id="meme-desc" class="hidden">
            {% capture meme %}
            {%- include markdown/tables/meme.md -%}
            {% endcapture %}
            {{ meme | escape | markdownify | replace: "id=", "data-content-id=" }}
          </div>
        </div>
        <div id="copyright">
          The cEDH Decklist Database is unofficial Fan Content permitted under the Fan Content Policy.
          This site is not approved and/or endorsed by Wizards of the Coast.<br/>
          Portions of the materials used are property of Wizards of the Coast, ©Wizards of the Coast LLC.
        </div>
        
        {% include database.html %}
        
      </section>
    </div>
  </div>
</body>
</html>
