---
layout: none
---
<!DOCTYPE html>
<!--
6/16/2020
The main page of the cEDH decklist database
-->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>cEDH Decklist Database</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A collection of Magic: The Gathering (MTG) decks from the Competitive EDH Format." />
  <meta name="keywords" content="mtg,cedh,edh,magic,decks,decklists,database,competitive" />

  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="./styles/global.css" />
  <link rel="stylesheet" type="text/css" href="./styles/table.css" />
  <link rel="stylesheet" type="text/css" href="./styles/main.css" />
  <!-- DDB Scripts -->
  <script src="scripts/table-functions.js"></script>

  <!-- Logo Font -->
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap&text=DacestEHklibCompv" rel="stylesheet">

  <!-- Google AdSense -->
  <script data-ad-client="ca-pub-4373090976253918" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
  <div id="wrapper">
    {% include navbar.html %}

    <div id="content">
      <aside id="aside">
        <h2>Filters</h2>
        <div id="filter-wrap">
          <div id="color-filters" class="ns">
            <div class="icon pt color-inactive" data-c="w">{% include svg/colors/w.svg %}</div>
            <div class="icon pt color-inactive" data-c="u">{% include svg/colors/u.svg %}</div>
            <div class="icon pt color-inactive" data-c="b">{% include svg/colors/b.svg %}</div>
            <div class="icon pt color-inactive" data-c="r">{% include svg/colors/r.svg %}</div>
            <div class="icon pt color-inactive" data-c="g">{% include svg/colors/g.svg %}</div>
          </div>
          <ul class="ns list">
            <li id="rec-only" class="filter-option filter-active">
              <div class="svg-icon">
                {% include svg/recommend.svg %}
              </div>
              <span>Recommendations</span>
            </li>
            <li id="primer-only" class="filter-option filter-inactive">
              <div class="svg-icon">
                {% include svg/primer.svg %}
              </div>
              <span>Primers</span>
            </li>
            <li id="discord-only" class="filter-option filter-inactive">
              <div class="svg-icon">
                {% include svg/discord.svg %}
              </div>
              <span>Discord Servers</span>
            </li>
          </ul>
        </div>
        <div id="advertisement"></div>
      </aside>
      
      <section id="section">
        <div id="db-functions" class="ns">
          <select id="db-select" class="btn">
            <option value="competitive" id="main-db">Competitive Decks</option>
            <option value="deprecated" id="deprecated-db">Deprecated Decks</option>
            <option value="meme" id="meme-db">Meme Decks</option>
          </select>
          <select id="db-sort" class="btn">
            <option value="date" id="sort-date">Sort by Newest</option>
            <option value="color" id="sort-color">Sort by Color</option>
            <option value="title" id="sort-title">Sort by Title</option>
          </select>
          <input id="db-search" type="search" placeholder="Search the database..." name="search" aria-label="search">
        </div>
        <div id="db-description">
          <div id="competitive-desc">
            {% capture competitive %}
            {%- include_relative _markdown/tables/competitive.md -%}
            {% endcapture %}
            {{ competitive | escape | markdownify | replace: "id=", "data-content-id=" }}
          </div>
          <div id="deprecated-desc" class="hidden">
            {% capture deprecated %}
            {%- include_relative _markdown/tables/deprecated.md -%}
            {% endcapture %}
            {{ deprecated | escape | markdownify | replace: "id=", "data-content-id=" }}
          </div>
          <div id="meme-desc" class="hidden">
            {% capture meme %}
            {%- include_relative _markdown/tables/meme.md -%}
            {% endcapture %}
            {{ meme | escape | markdownify | replace: "id=", "data-content-id=" }}
          </div>
        </div>
        <div id="copyright">
          The cEDH Decklist Database is unofficial Fan Content permitted under the Fan Content Policy.
          This site is not approved and/or endorsed by Wizards of the Coast.<br/>
          Portions of the materials used are property of Wizards of the Coast, ©Wizards of the Coast LLC.
        </div>
        
        {% include ddb-table.html %}
        
      </section>
    </div>
  </div>
  {% include analytics.html %}
</body>
</html>
