---
layout: none
---
<!DOCTYPE html>
<!--
07/15/2020
Request page for the cDDB
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>Make a Request - cEDH Decklist Database</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/request.css" />
  
  <!-- ReCaptcha -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>function refreshCaptcha() { grecaptcha.reset(); }</script>
</head>

<body>
  <div id="wrapper">
    {% include navbar.html %}
      
      <div id="content">
        <aside>
          <div>
            {% capture content %}
            {%- include markdown/request.md -%}
            {% endcapture %}
            {{ content | escape | markdownify | replace: "id=", "data-content-id="}}
          </div>
        </aside>
        <div>
          <section>
            <form>
              <label>What request would you like to make?</label>
              <div class="">
                <div class="subtext">If you would like to get the status of a request you have made, please join our Discord server, which is linked in the top right.</div>
                <select id="category-select">
                  <option value="add_list">Add a new list to a deck</option>
                  <option value="modify_info">Modify a deck's current information</option>
                  <option value="add_discord">Change a deck-specific Discord server</option>
                  <option value="deprecate_deck">Mark a deck as deprecated</option>
                  <option value="other">Other</option>
                </select>
              </div>
              
              <div class="flex-column">
                <label for="description">Issue Description and Information</label>
                <textarea autocomplete="off" id="description" maxlength="1000" required placeholder="Read the sidebar to see what information is needed for each different kind of request." rows="4"></textarea>
              </div>
              
              <div id="submit-wrap">
                <div class="g-recaptcha" data-theme="dark" data-expired-callback="refreshCaptcha" data-sitekey="6Lf6x68ZAAAAAOVJKUdXQKwu_kO2SGxf7clflkpe"></div>
                <input type="submit" id="submit-button" value="Submit Request"/>
              </div>
            </form>
            <div id="copyright">
              The cEDH Decklist Database is unofficial Fan Content permitted under the Fan Content Policy.
              This site is not approved and/or endorsed by Wizards of the Coast.<br/>
              Portions of the materials used are property of Wizards of the Coast, ©Wizards of the Coast LLC. 
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>

  <!-- DDB Scripts -->
  <script src="scripts/request.js"></script>
</body>
</html>
