---
layout: none
---
<!DOCTYPE html>
<!--
07/07/2020
Submission page for the cDDB
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>Submit a Deck - cEDH Decklist Database</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/submit.css" />
  
  <!-- ReCaptcha -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>function refreshCaptcha() { grecaptcha.reset(); }</script>
</head>

<body>
  <div id="wrapper">
    {% include navbar.html %}
      
      <div id="content">
        <aside>
          <div>
            {% capture content %}
            {%- include markdown/submit.md -%}
            {% endcapture %}
            {{ content | escape | markdownify | replace: "id=", "data-content-id="}}
          </div>
        </aside>
        <div>
          <section>
            <form>
              <div>
                <select id="table-select">
                  <option value="competitive">Submitting a Competitive Deck</option>
                  <option value="deprecated">Submitting a Deprecated Deck</option>
                  <option value="meme">Submitting a Meme Deck</option>
                </select>
              </div>
                
              <div class="flex">
                <div class="flex-column" id="title-wrap">
                  <label for="deck-title">Deck Title</label>
                  <input autocomplete="off" type="text" required maxlength="60" id="deck-title" placeholder="Enter the deck's name"/>
                </div>
                <div class="flex-column">
                  <label for="color-select">Choose Colors</label>
                  <div id="color-select" class="ns">
                    <label for="color-w">
                      <input autocomplete="off" type="checkbox" id="color-w" class="hidden"></input>
                      <div class="">{% include svg/colors/w.svg %}</div>
                    </label>
                    <label for="color-u">
                      <input autocomplete="off" type="checkbox" id="color-u" class="hidden"></input>
                      <div class="">{% include svg/colors/u.svg %}</div>
                    </label>
                    <label for="color-b">
                      <input autocomplete="off" type="checkbox" id="color-b" class="hidden"></input>
                      <div class="">{% include svg/colors/b.svg %}</div>
                    </label>
                    <label for="color-r">
                      <input autocomplete="off" type="checkbox" id="color-r" class="hidden"></input>
                      <div class="">{% include svg/colors/r.svg %}</div>
                    </label>
                    <label for="color-g">
                      <input autocomplete="off" type="checkbox" id="color-g" class="hidden"></input>
                      <div class="">{% include svg/colors/g.svg %}</div>
                    </label>
                  </div>
                </div>
              </div>
              
              <div>
                <div class="flex" id="two-wrap">
                  <label for="commander-wrap">Commander(s)</label>
                  <div class="ns">
                    <input autocomplete="off" type="checkbox" id="two-commanders" />
                    <label for="two-commanders">This deck has 2 commanders<label>
                  </div>
                </div>
                <div id="commander-wrap" class="flex">
                  <input autocomplete="off" required type="text" id="commander" maxlength="200" placeholder="Enter the commander's full name"/>
                  <input autocomplete="off"  type="text" id="commander2" maxlength="200" class="hidden" placeholder="Enter the second commander's full name"/>
                </div>
              </div>
              
              <div class="flex-column">
                <label for="description">Write a description for the deck</label>
                <textarea autocomplete="off" id="description" maxlength="700" required placeholder="Enter your description here." rows="4"></textarea>
              </div>
              
              <div>
                <div id="discord-wrap">
                  <input autocomplete="off" type="checkbox" id="has-discord"/>
                  <label for="has-discord">This deck has a Discord server</label>
                </div>
                <div class="flex hidden" id="discord-info">
                  <input autocomplete="off" type="text" id="discord-link" maxlength="40" placeholder="Discord Link"/>
                  <input autocomplete="off" type="text" id="discord-title" maxlength="40" placeholder="Discord Server Title"/>
                </div>
              </div>
                
              <div id="list-wrap">
                <ul>
                  <li class="list-entry">
                    <div class="flex">
                      <span class="delete-list ns">&times;</span>
                      <input autocomplete="off" type="text" required class="list-title" maxlength="60" placeholder="Decklist title"/>
                      <input autocomplete="off" type="text" required class="list-link" maxlength="200" placeholder="Link to decklist"/>
                      <div class="flex">
                        <label class="ns">
                          <input autocomplete="off" type="checkbox" class="has-primer"/>
                          Has Primer
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
                <button type="button" class="btn" id="add-deck">+ Add a Decklist</button>
              </div>
              
              <div id="submit-wrap">
                <div class="g-recaptcha" data-expired-callback="refreshCaptcha" data-sitekey="6Lf6x68ZAAAAAOVJKUdXQKwu_kO2SGxf7clflkpe"></div>
                <input type="submit" id="submit-button" value="Submit Deck"/>
              </div>
            </form>
            <div id="copyright">
              The cEDH Decklist Database is unofficial Fan Content permitted under the Fan Content Policy.
              This site is not approved and/or endorsed by Wizards of the Coast.<br/>
              Portions of the materials used are property of Wizards of the Coast, ©Wizards of the Coast LLC. 
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-functions.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-auth.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAEjmTRrh2r05qOevsvxufeMsC43JTauQs",
      authDomain: "cedh-decklist-database.firebaseapp.com",
      databaseURL: "https://cedh-decklist-database.firebaseio.com",
      projectId: "cedh-decklist-database",
      storageBucket: "cedh-decklist-database.appspot.com",
      messagingSenderId: "450552713209",
      appId: "1:450552713209:web:7c746ddf9c392bafb8b728",
      measurementId: "G-TB53N60CSL"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    firebase.functions();
  </script>

  <!-- DDB Scripts -->
  <script src="scripts/submit.js"></script>
</body>
</html>
