---
layout: none
---
<!DOCTYPE html>
<!--
07/07/2020
Submission page for the cDDB
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>Submit a Deck - cEDH Decklist Database</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/submit.css" />
  
  <!-- ReCaptcha -->
  <script defer>function refreshCaptcha() { grecaptcha.reset(); }</script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
  {% include loading.html %}
  <div id="wrapper">
    {% include navbar.html %}
      
      <div id="content">
        <aside>
          <div>
            {% capture content %}
            {%- include markdown/submit.md -%}
            {% endcapture %}
            {{ content | escape | markdownify | replace: "id=", "data-content-id="}}
          </div>
        </aside>
        <section>
          <form>
            <div>
              <select id="table-select">
                <option value="COMPETITIVE">Submitting a Competitive Deck</option>
                <option value="DEPRECATED">Submitting an Outdated Deck</option>
                <option value="MEME">Submitting a Meme Deck</option>
              </select>
            </div>
              
            <div class="flex">
              <div class="flex-column" id="title-wrap">
                <label for="deck-title">Deck Title</label>
                <input autocomplete="off" type="text" required maxlength="100" id="deck-title" placeholder="Enter the deck's name"/>
              </div>
            </div>
            
            <div>
              <div class="flex" id="two-wrap">
                <label for="commander-wrap">Commander(s)</label>
                <div class="ns">
                  <input autocomplete="off" type="checkbox" id="two-commanders" />
                  <label for="two-commanders">This deck has 2 commanders<label>
                </div>
              </div>
              <div id="commander-wrap" class="flex">
                <input autocomplete="off" required type="text" id="commander" maxlength="300" placeholder="Enter the commander's full name"/>
                <input autocomplete="off"  type="text" id="commander2" maxlength="300" class="hidden" placeholder="Enter the second commander's full name"/>
              </div>
            </div>
            
            <div class="flex-column">
              <label for="description">Write a description for the deck</label>
              <textarea autocomplete="off" id="description" maxlength="1000" required placeholder="Enter your description here." rows="4"></textarea>
            </div>
            
            <div>
              <div id="discord-wrap">
                <input autocomplete="off" type="checkbox" id="has-discord"/>
                <label for="has-discord">This deck has a Discord server</label>
              </div>
              <div class="flex hidden" id="discord-info">
                <input autocomplete="off" type="text" id="discord-title" maxlength="100" placeholder="Discord Server Title"/>
                <input autocomplete="off" type="text" id="discord-link" pattern="(https?:\/\/)?(www\.)?(discord\.(gg|io|me|li)|(discordapp|discord)\.com\/invite)\/.+." title="You must input a valid Discord invite" maxlength="300" placeholder="A Discord invite link that won't expire"/>
              </div>
            </div>
              
            <div id="list-wrap">
              <ul>
                <li class="list-entry">
                  <div class="flex">
                    <span class="delete-list ns">&times;</span>
                    <input autocomplete="off" type="text" required class="list-title" maxlength="100" placeholder="Decklist title"/>
                    <input autocomplete="off" type="text" required class="list-link" pattern="(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_+.~#?&//=]*)*+" title="Input link is invalid" maxlength="300" placeholder="Link to decklist"/>
                    <div class="flex">
                      <label class="ns">
                        <input autocomplete="off" type="checkbox" class="has-primer"/>
                        Has Primer
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn" id="add-deck">+ Add a Decklist</button>
            </div>
            
            <div id="submit-wrap">
              <div class="g-recaptcha" data-theme="dark" data-expired-callback="refreshCaptcha" data-sitekey="6Lf6x68ZAAAAAOVJKUdXQKwu_kO2SGxf7clflkpe"></div>
              <input type="submit" id="submit-button" value="Submit Deck"/>
            </div>
          </form>
          {% include legal.html %}
        </section>
      </div>
    </section>
  </div>
  
  <!-- DDB Scripts -->
  <script src="scripts/submit.js"></script>
</body>
</html>
