/* Utility Classes */
:root {
  --backdrop-color: #383c4a;
  --canvas-color: #404552;
  --secondary-color: #4b5162;
  --accent-color: #8ebbd1;
  --darker: #323643;
  --lighter: #454b58;
  --discord: #8C9EFF;
   scrollbar-color: #222222 #424242;
}

* {
  overflow-wrap: anywhere;
}

.bw, .bu, .bb, .br, .bg, .bx {
  font-family: 'courier new', monospace;
}

.ns {
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}

.unavailable {
  filter: invert(100%) brightness(50%);
}

.disabled {
  cursor: not-allowed !important;
}

.dark {
  filter: brightness(0%);
}

.btn {
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--backdrop-color);
}

.btn:hover {
  transition: 0.0s;
  background-color: var(--darker);
}

a {
  color: skyblue;
}

nav a {
  color: inherit;
  text-decoration: none;
}

#motd a {
  color: blue;
}

.list {
  padding: 0;
  list-style-type: none;
}

.pt {
  cursor: pointer;
}

/* Markdown Styles */
h1 {
  font-size: 22pt;
  margin: 16px 0;
}

h2 {
  font-size: 18pt;
  margin: 8px 0;
}

h3 {
  font-size: 14pt;
  margin: 8px 0;
}

/* Global Styles */
html {
  height: 100%;
}

body {
  width: 100%;
  font-family: sans-serif;
  background-color: var(--backdrop-color);
  color: white;
  height: 100%;
  margin: 0;
}

#wrapper {
  background-color: var(--canvas-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* Top bar styles */
#top-bar {
  flex: 0 1 auto;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 3px solid var(--backdrop-color);
  background-color: var(--secondary-color);
}

#nav-space {
  flex-grow: 1;
}

#logo {
  display: flex;
  align-items: center;
  width: 400px;
}

#logo h1 {
  font-size: 12pt;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

#logo span {
  font-size: 20pt;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

#logo svg {
  height: 40px;
  width: 40px;
  margin: 0 12px;
}

nav .btn {
  font-size: 14pt;
  padding: 16px;
  min-width: 170px;
  background-color: var(--secondary-color);
}

#nav-discord svg {
  margin: 0px 16px;
  height: 48px;
  fill: var(--discord);
}

/* Message of the Day */
header {
  padding: 8px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color);
  color: black;
  line-height: 1.5;
}

#motd-close {
  cursor: pointer;
  transition: 0.5s;
  margin-left: 16px;
  margin-right: 8px;
  font-size: 28pt;
  line-height: 16px;
  color: black;
}

#motd-close:hover {
  color: red;
  transition: 0s;
}

/* Universal content styles */
#login-notice {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#content {
  display: flex;
  flex: 1 1 auto;
  overflow: auto;
  bottom: 0;
  position: relative;
}

#copyright {
  color: lightgray;
  font-size: 10pt;
  padding-bottom: 16px;
}
  
/* Mobile Adjustments */
@media (max-width: 800px) {
  .mhide {
    display: none !important;
  }
  
  #mobile-motd {
    padding: 8px 16px;
    font-size: 12pt;
    text-align: center;
    background-color: var(--accent-color);
    color: black;
  }
  

}

@media (min-width: 801px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 1200px) {
  nav {
    padding: 8px;
    align-items: stretch !important;
  }
  
  #nav-space {
    flex-grow: 0;
  }
  
  #nav-discord {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #nav-discord svg {
    margin: 0 4px;
    height: 34px;
  }
  
  #logo {
    width: auto;
    height: 100%;
  }
  
  #logo h1, #logo span {
    display: none;
  }
  
  #logo svg {
    height: 30px !important;
    margin: 0 4px;
  }
  
  nav .btn {
    font-size: 12pt !important;
    padding: 0;
    min-width: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav .btn span {
    vertical-align: middle;
  }
  
  nav .m-hide {
    display: none;
  }
}
