/* Mobile Adjustments */
@media (max-width: 1200px) {
  #content {
    flex-wrap: wrap;
  }
  
  aside {
    width: 100% !important;
    height: auto !important;
  }
  
  #advertisement {
    height: 100px !important;
    width: 100% !important;
    margin: 0 !important;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  
  #database-controls {
    flex-wrap: wrap;
  }
  
  #db-search {
    padding: 8px !important;
    margin: 8px;
  }
  
  #db-section, #db-sort {
    margin: 8px !important;
    flex-grow: 1;
  }
}

@media (min-width: 801px) {
  .color-inactive:hover {
    transition: 0.0s;
    opacity: 0.6;
  }
  
  .filter-inactive:hover {
    transition: 0.0s;
    background-color: var(--canvas-color);
  }
}

@media (max-width: 800px) {
  .color-inactive {
    transition: 0.0s !important;
  }
  
  .filter-inactive {
    transition: 0.0s !important;
  }
  
  section {
    display: flex;
    flex-direction: column;
  }
  
  aside {
    position: fixed;
    padding-left: 0 !important;
    z-index: 4;
  }
  
  aside h2 {
    display: none;
  }
  
  #mobile-filters {
    padding: 8px 16px;
    font-size: 12pt;
    text-align: center;
    background-color: var(--darker);
  }
  
  #filter-wrap {
    padding: 0 16px;
    padding-top: 16px;
    z-index: 13;
  }
  
  #database-controls {
    position: fixed;
    background-color: var(--secondary-color);
    margin-top: 240px;
    z-index: 12;
    left: 0;
  }
  
  #database-controls label {
    display: none;
  }
  
  #database-controls select, #database-controls .flex-column {
    flex-grow: 1;
  }
  
  #mobile-desc {
    padding: 16px 16px;
    font-size: 14pt;
    text-align: center;
    background-color: var(--darker);
  }
  
  #decks {
    padding-top: 16px !important;
  }
  
  #advertisement {
    pointer-events: none;
  }
}

#copyright {
  margin-top: 256px;
  margin-bottom: 16px;
}

/* Aside Styles */
aside {
  width: 250px;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 0;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

aside h2 {
  font-size: 16pt;
  padding: 16px 0;
  margin: 0;
}

aside ul {
  margin: 16px 0;
}

aside li {
  padding: 16px;
  border-top: 1px solid darkgray;
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

aside li:last-child {
  border-bottom: 1px solid darkgray;
}

aside li span {
  margin-left: 16px;
}

aside li svg {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}

#color-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.color-inactive {
  opacity: 0.3;
  transition: 0.3s;
}

#advertisement {
  height: 100%;
  width: 251px;
  margin-bottom: 16px;
}

.filter-active {
  background-color: var(--backdrop-color);
}

.filter-inactive {
  transition: 0.3s;
}

/* Section Styles */
section {
  overflow: auto;
  padding: 16px;
  flex-grow: 1;
}

#database-controls {
  display: flex;
  justify-content: space-between;
}

#database-controls {
  align-items: stretch;
}

#db-section, #db-search, #db-sort {
  background-color: var(--darker);
  color: white;
  border: none;
  padding: 8px;
  font-size: 14pt;
}

#database-controls label {
  font-size: 14pt;
  margin-bottom: 4px;
}

#db-search {
  flex-grow: 1;
  font-size: 14pt;
  padding: 0 8px;
  color: white;
  border: none;
  background-color: var(--darker);
}

#search-wrap {
  flex-grow: 1;
}

#db-search::placeholder {
  opacity: .9;
  color: white;
}

#db-section, #db-sort {
  font-size: 16pt;
  padding: 8px;
  margin-right: 16px;
  color: white;
  border: 0;
  min-width: 220px;
}

#db-description {
  margin: 16px 0;
  line-height: 1.5;
  font-size: 13pt;
}

/* Database Styles */
{% include styles/database.css %}
