<div id="top-bar">
  <nav class="ns">
    <div id="nav-space">
      <a id="logo" href="/console">
        {% include svg/logo.svg %}
        <span>Database Console</span>
      </a>
    </div>
    <a class="btn" id="nav-modify" href="/console/modify.html">
      <span>Modify<span class="m-hide"> Site</span></span>
    </a>
    <a class="btn" id="nav-changelog" href="/console/changelog.html">
      <span><span class="m-hide">Edit </span>Changelog</span>
    </a>
    <a class="btn" id="nav-account">
      <span>Curator Login</span>
    </a>
    <a id="nav-discord" target="_blank" href="https://discord.gg/BXPyu2P">
      {% include svg/discord-logo.svg %}
    </a> 
  </nav>
    
  <header class="">
    <span id="motd">
      {% capture content %}
      {%- include markdown/motd.md -%}
      {% endcapture %}
      {{ content | escape }}
    </span>
    <span id="motd-close" onclick="this.parentElement.style.display='none';">&times;</span>
  </header>
</div>
