
<table id="ddb">
  <thead>
    <tr>
      <th class="col1"></th>
      <th class="col2"></th>
      <th class="col3"></th>
    </tr>
  </thead>
  <tbody>
    {% assign decks = (site.data.entries.decks | sort: 'updated') | reverse %}
    {% for d in decks %}
    
      <tr class="main m{{d.id | escape }}"
        data-id="{{d.id | escape}}"
        data-section="{{d.section | escape}}"
        data-updated="{{d.updated | escape}}"
        data-name="{{d.name | escape}}"
        data-colors="{{d.colors | join: "" | escape}}"
        data-commander="{{d.commander | jsonify | escape}}"
        data-description="{{d.description | escape}}"
        data-recommended="{{d.recommended | escape}}"
        data-discord_title="{{d.discord-title | escape}}"
        data-discord_link="{{d.discord-link | escape}}"
        {%- capture primers -%}
        {%- for x in d.lists -%}
        {{x.primer | escape}}
        {% endfor %}
        {% endcapture %}
        data-primer="{%- unless primers contains true-%}noprimer{% endunless %}"
        data-decks="{{d.lists | escape}}"
      >
        
      <td class="deck-colors ns">
        <div class="icon-wrap">
          <img class="d-icon {% unless d.colors contains "w" %} c-inactive{% endunless %}" 
          src="./img/mana/w.png" alt="white"/>
          <img class="d-icon {% unless d.colors contains "u" %} c-inactive{% endunless %}" 
          src="./img/mana/u.png" alt="blue"/>
          <img class="d-icon {% unless d.colors contains "b" %} c-inactive{% endunless %}" 
          src="./img/mana/b.png" alt="black"/>
          <img class="d-icon {% unless d.colors contains "r" %} c-inactive{% endunless %}" 
          src="./img/mana/r.png" alt="red"/>
          <img class="d-icon {% unless d.colors contains "g" %} c-inactive{% endunless %}" 
          src="./img/mana/g.png" alt="green"/>
        </div>
      </td>
      <td class="deck-title">
        <span>{{d.name | escape }}</span>
      </td>
      <td class="deck-tags ns">
        <div class="icon-wrap">
          <div class="svg-icon t-{{d.recommended | escape }}">
            <img src="./img/rec.svg" class="rec-icon" alt="Has Recommended"/>
          </div>
          <div class="svg-icon t-{%- unless primers contains true-%}false{% endunless %}">
            <img src="./img/primer.svg" class="primer-icon" alt="Has Primer"/>
          </div>
          <div class="svg-icon t-{% if d.discord-link == "" %}false{% endif %}">
            <img src="./img/discord.svg" class="discord-icon" alt="Has Discord"/>
          </div>
        </div>
      </td>
    </tr>
    <tr class="sub hidden s{{d.id | escape }}">
      <td class="deck-commander">
        <div class="card-wrap card{{d.commander | size | escape }}">
          {%- for x in d.commander -%}
          <img class="card" src="./img/card.png" alt="{{x | escape }}" title="{{x | escape }}"/>
          {% endfor %}
        </div>
      </td>
      <td class="deck-info" colspan="2">
        <div class="info-wrap">
          <div class="links">
            <a class="d-discord btn"
            {% if d.discord-link != "" %}href="{{d.discord-link | escape }}"{% endif %}>
              <img class="d-icon ns {% if d.discord-link != "" %}discord-color{% endif %}" src="./img/discord.svg" />
              {% if d.discord-link == "" %}[No Discord Server]{% endif %}
              {{d.discord-title | escape }}
            </a>
            <ul class="deck-list list">
              {%- for x in d.lists -%}
                <li><a href="{{x.link | escape}}">
                  <div class="svg-icon t-{{x.primer | escape}} ns">
                    <img src="./img/primer.svg" class="primer-icon" alt="Primer symbol"/>
                  </div>
                  <span>{{x.description | escape}}</span>
                </a></li>
              {% endfor %}
            </ul>
            <div class="d-commanders">
              {%- for x in d.commander -%}
                <div><a href="" title="{{x | escape }}">{{x | escape }}</a></div>
              {% endfor %}
            </div>
          </div>
          <div class="desc-wrapper">
            <div class="description">
              {{d.description | escape }}
            </div>
            
            <div class="d-date">
              <span class="date-prefix">Entry Last Updated — </span>
              <span class="date">{{d.updated | escape }}</span>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
