<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-functions.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-auth.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAEjmTRrh2r05qOevsvxufeMsC43JTauQs",
    authDomain: "cedh-decklist-database.firebaseapp.com",
    databaseURL: "https://cedh-decklist-database.firebaseio.com",
    projectId: "cedh-decklist-database",
    storageBucket: "cedh-decklist-database.appspot.com",
    messagingSenderId: "450552713209",
    appId: "1:450552713209:web:7c746ddf9c392bafb8b728",
    measurementId: "G-TB53N60CSL"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  firebase.functions();
  firebase.auth();
</script>
