<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A collection of Magic: The Gathering (MTG) decks from the Competitive Commander Format." />
<meta name="keywords" content="mtg,cedh,edh,commander,magic,decks,decklists,database,competitive" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="alternate icon" type="image/ico" href="/favicon.ico">
<style>{% include styles/global.css %}</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175183326-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175183326-1');
</script>
