<div id="top-bar">
  <nav class="ns">
    <div id="nav-space">
      <a id="logo" href="/">
        {% include svg/logo.svg %}
        <h1>Competitive EDH<br/>
        Decklist Database</h1>
      </a>
    </div>
    <a class="btn" id="nav-submit" href="/submit">
      <span>Submit<span class="m-hide"> a Deck</span></span>
    </a>
    <a class="btn" id="nav-request" href="/request">
      <span><span class="m-hide">Make a </span>Request</span>
    </a>
    <a class="btn" id="nav-about" href="/about">
      <span>About<span class="m-hide"> the DDB</span></span>
    </a>
    <a id="nav-discord" target="_blank" href="https://discord.gg/BXPyu2P">
      {% include svg/discord-logo.svg %}
    </a> 
  </nav>
    
  <header class="mhide">
    <span id="motd">
      {% capture content %}
      {%- include markdown/motd.md -%}
      {% endcapture %}
      {{ content | escape }}
    </span>
    <span id="motd-close" onclick="this.parentElement.style.display='none';">&times;</span>
  </header>
  <div id="mobile-motd" class="mobile ns">
    + Show Message of the Day
  </div>
</div>

<script>
document.getElementById("mobile-motd").addEventListener("click", () => {
  const motd = document.getElementById("motd").innerText.trim();
  alert(motd);
});
</script>
