---
layout: none
---
<!DOCTYPE html>
<!--
07/07/2020
Changelog console page
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>Edit Changelog - cEDH Decklist Database</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/console/styles/changelog.css" />
  <!-- Page Scripts -->
  <!--
  <script src="/scripts/about.js"></script>
  -->
</head>

<body>
  <div id="wrapper">
    {% include console-navbar.html %}
  
    <div id="content">
      <aside>
      
      </aside>
      <section>
      
      </section>
    </div>
  </div>
  
  {% include firebase.html %}
  <script src="/console/scripts/changelog.js"></script>
</body>
</html>
