---
layout: none
---
<!DOCTYPE html>
<!--
07/07/2020
Login page
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>Log In - cEDH Decklist Database</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/console/styles/login.css" />

  <!-- Page Scripts -->
  <!--
  <script src="/scripts/about.js"></script>
  -->
</head>

<body>
  <div id="wrapper">
    {% include console-navbar.html %}
  
    <div id="content">
      <aside>
        <h1>Curator Log In</h1>
        <p>This screen is intended for approved curators ONLY. If you are not an approved curator, creating an account will not work, and any personally identifiable information that you submit through this form will not be stored.</p>
        <h2>First-time login for curators</h2>
        <p>If you have been brought on as a new curator, tell one of the already-existing curators the email address that you wish to use. Once they have added it to the list of approved email addresses, create a new account using that email address.</p>
        <p>When your email address has been verified for security purposes, you will be given edit access to the database.</p>
        <h2>Curators are unable to delete approved email addresses</h2>
        <p>If you would like to disable a curator's account, please contact the site administrator. This is probably Average Dragon.</p>
      </aside>
      <section>
        <div id="firebaseUI">
        </div>
      </section>
    </div>
  </div>
  
  {% include firebase.html %}
  <script src="/console/scripts/firebaseui.js"></script>
  <script src="/console/scripts/login.js"></script>
</body>
</html>
