---
layout: none
---
<!DOCTYPE html>
<!--
07/07/2020
About Us page for the cDDB
-->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About - cEDH Decklist Database</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A collection of Magic: The Gathering (MTG) decks from the Competitive EDH Format." />
  <meta name="keywords" content="mtg,cedh,edh,magic,decks,decklists,database,competitive" />
  
  <link rel="icon" type="image/ico" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" media="screen" href="../styles/global.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="styles/about.css" />
  <!-- Page Scripts -->
  <script src="scripts/about.js"></script>
</head>

<body>
  <div id="wrapper">
    {% include console-navbar.html %}
  
    <div id="content">
      <aside>
      
      </aside>
      <section>
      
      </section>
    </div>
  </div>
  
  {% include analytics.html %}
</body>
</html>
