---
layout: none
---
<!DOCTYPE html>
<!--
07/028/2020
Sign in console page
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>Log In - cEDH Decklist Database</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/console/styles/account.css" />
</head>

<body>
  <div id="wrapper">
    {% include console-navbar.html %}
  
    <div id="content">
      <h1>Logging in...</h1>
    </div>
  </div>
  
  <script src="/console/scripts/jwt-decode.min.js"></script>
  <script src="/console/scripts/login.js"></script>
</body>
</html>
