---
layout: none
---
<!DOCTYPE html>
<!--
07/07/2020
Modify Site console page
-->
<html lang="en">
<head>
  {% include head.html %}
  <title>Modify Site - cEDH Decklist Database</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/console/styles/modify.css" />
</head>

<body>
  {% include loading.html %}
<ul id="texts" class="hidden">
<li class="motd">{% capture md %}{% include markdown/motd.md %}{% endcapture %}{{ md | escape | strip }}</li>
<li class="about">{% capture md %}{% include markdown/about.md %}{% endcapture %}{{ md | escape | strip }}</li>
<li class="submit">{% capture md %}{% include markdown/submit.md %}{% endcapture %}{{ md | escape | strip }}</li>
<li class="request">{% capture md %}{% include markdown/request.md %}{% endcapture %}{{ md | escape | strip }}</li>
<li class="template">{% capture md %}{% include markdown/template.md %}{% endcapture %}{{ md | escape | strip }}</li>
<li class="competitive">{% capture md %}{% include markdown/tables/competitive.md %}{% endcapture %}{{ md | escape | strip }}</li>
<li class="brew">{% capture md %}{% include markdown/tables/brew.md %}{% endcapture %}{{ md | escape | strip }}</li>
<li class="deprecated">{% capture md %}{% include markdown/tables/deprecated.md %}{% endcapture %}{{ md | escape | strip }}</li>
</ul>

  <div id="wrapper">
    {% include console-navbar.html %}
    <div id="content" class="">
      <aside>
        <label for="preview" id="preview-label">Preview Text</label>
        <div id="preview">
        </div>
      </aside>
      <section class="flex-column">
        <div id="description">
          {% capture content %}
          {%- include markdown/admin/modify.md -%}
          {% endcapture %}
          {{ content | escape | markdownify | replace: "id=", "data-content-id=" }}
        </div>
        <div id="controls" class="flex">
          <select id="file-select" autocomplete="off" class="pt">
            <option value="MOTD">Message of the Day</option>
            <option value="ABOUT">About the DDB</option>
            <option value="TEMPLATE">Changelog Template</option>
            <option value="SUBMIT">"Submit a Deck" Sidebar</option>
            <option value="REQUEST">"Make a Request" Sidebar</option>
            <option value="COMPETITIVE">"Competitive" Description</option>
            <option value="BREW">"Brewer's Corner" Description</option>
            <option value="DEPRECATED">"Outdated" Description</option>
          </select>
          <button id="submit" class="pt">Submit File</button>
        </div>
        <textarea id="input" autocomplete="off">{% capture md %}{% include markdown/motd.md %}{% endcapture %}{{ md | escape | strip }}</textarea>
      </section>
    </div>
  </div>
  
  <!-- Snarkdown used with MIT License: https://github.com/developit/snarkdown -->
  <script src="/console/scripts/snarkdown.js"></script>
  <!-- utf8.js used with MIT License: https://github.com/mathiasbynens/utf8.js -->
  <script src="/console/scripts/utf8.js"></script>
  <!-- base64 used with MIT License: https://github.com/mathiasbynens/base64 -->
  <script src="/console/scripts/base64.js"></script>
  
  <script src="/console/scripts/account.js"></script>
  <script src="/console/scripts/modify.js"></script>
</body>
</html>
