@media (max-width: 1200px) {
  #content {
    flex-direction: column-reverse;
  }
  
  aside, section {
    width: auto !important;
    overflow: visible !important;
    min-width: auto !important;
    max-width: 100% !important;
  }
  
  section {
    margin: 4px !important;
  }
}

#content {
}

#nav-changelog {
  background-color: var(--darker);
}

aside {
  overflow: auto;
  flex-grow: 1;
  max-width: 450px;
  padding: 16px;
  background-color: var(--secondary-color);
}

section {
  overflow: auto;
  padding: 16px 16px;
  flex-grow: 1;
} 
