@media (max-width: 1200px) {
  #content {
    flex-direction: column-reverse;
  }
  
  aside, section {
    width: auto !important;
    overflow: visible !important;
    min-width: auto !important;
    max-width: 100% !important;
  }
  
  section {
    margin: 4px !important;
  }
}

.template {
  display: none !important;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content {
}

#content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Request Styles */
aside {
  overflow: auto;
  flex-grow: 1;
  max-width: 450px;
  padding: 16px;
  background-color: var(--secondary-color);
}

aside li {
  background-color: var(--canvas-color);
  padding: 8px;
  margin-bottom: 16px;
}

aside button {
  background-color: firebrick;
  border: none;
  width: 32px;
  height: 32px;
  color: white;
  font-weight: bold;
  font-size: 16pt;
}

.req-category {
  font-size: 14pt;
  font-weight: bold;
}

.req-description {
  margin: 8px 0;
  color: gainsboro;
}

.req-date {
  text-align: right;
  font-size: 14pt;
  font-family: monospace;
}
/* Deck Styles */
section {
  overflow: auto;
  padding: 16px 16px;
  flex-grow: 1;
} 
