@media (max-width: 1200px) {
  #content {
    flex-direction: column-reverse;
  }
  
  aside, section {
    width: auto !important;
    overflow: visible !important;
    min-width: auto !important;
    max-width: 100% !important;
  }
  
  section {
    margin: 4px !important;
  }
}

#content {
}

#nav-login {
  background-color: var(--darker);
}

aside {
  overflow: auto;
  flex-grow: 1;
  max-width: 450px;
  padding: 16px;
  background-color: var(--secondary-color);
}

section {
  overflow: auto;
  padding: 16px 16px;
  flex-grow: 1;
}

#firebaseUI {
  max-width: 600px;
}

#firebaseUI div {
  display: flex;
  flex-direction: column;
}

form input::placeholder, form textarea::placeholder {
  opacity: .75;
  font-style: italic;
  color: white;
}

form input, form select, form button {
  background-color: var(--darker);
  color: white;
  border: none;
}

form input {
  font-size: 14pt;
  padding: 8px;
}

form label {
  font-size: 16pt;
}

form button {
  font-size: 14pt;
  padding: 8px 0;
  margin-bottom: 8px;
  background-color: var(--accent-color);
  color: black;
}
