@media (max-width: 1200px) {
  #content {
    flex-direction: column-reverse;
  }
  
  aside, section {
    width: auto !important;
    overflow: visible !important;
    min-width: auto !important;
    max-width: 100% !important;
  }
  
  section {
    margin: 4px !important;
  }
}

#content {
}

#nav-modify {
  background-color: var(--darker);
}

aside {
  overflow: auto;
  flex-grow: 1;
  background-color: var(--secondary-color);
  width: 50%;
}

section {
  overflow: auto;
  width: 50%;
  margin: 16px;
} 

#preview-label {
  background-color: var(--lighter);
  padding: 8px;
  font-size: 24pt;
  text-align: center;
  display: block;
}

#preview {
  margin: 16px;
  overflow: auto;
}

textarea, select {
  background-color: var(--darker);
  color: white;
  border: none;
}

#controls {
  align-items: stretch;
  margin-bottom: 16px;
}

#file-select {
  padding: 8px 16px;
}

#submit {
  background-color: var(--accent-color);
  color: black;
  border: none;
  padding: 8px 16px;
}

#submit:hover {
  filter: brightness(80%) contrast(120%);
}

#input {
  padding: 8px;
  font-size: 12pt;
  font-family: monospace;
  flex-grow: 1;
  white-space: pre-wrap;
}

#texts {
  white-space: pre-wrap;
}
