@media (max-width: 1200px) {
  #content {
    flex-direction: column;
  }
  
  aside, section {
    width: auto !important;
    overflow: visible !important;
    min-width: auto !important;
  }
  
  section {
    margin: 4px !important;
  }
}

#nav-about {
  background-color: var(--darker);
}

aside {
  flex-grow: 1;
  min-width: 482px;
  background-color: var(--secondary-color);
}

section {
  overflow: auto;
  padding: 0 16px;
  flex-grow: 1;
}

aside h1 {
  font-size: 18pt;
  margin: 8px 0;
}

#updates {
  height: 100%;
}

.update {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controls {
  background-color: var(--darker);
  padding: 16px;
  display: flex;
  align-items: flex-start;
}

.controls svg {
  height: 48px;
}

.newer, .older {
  cursor: pointer;
}

.end-arrow {
  visibility: hidden;
  pointer-events: none;
}

.title-wrap {
  flex-grow: 1;
  margin: 0 16px;
}

.title {
  font-size: 18pt;
}

.date {
  font-size: 14pt;
  color: gainsboro;
}

.content {
  padding: 16px;
  overflow: auto;
  flex-grow: 1;
}
