/* Utility Classes */
:root {
  --backdrop-color: #383c4a;
  --canvas-color: #404552;
  --secondary-color: #4b5162;
  --accent-color: #8ebbd1;
  --darker: #323643;
  --lighter: #454b58;
  --discord: #8C9EFF;
   scrollbar-color: #222222 #424242;
}

.bw, .bu, .bb, .br, .bg {
  border-radius: 50%;
  font-family: monospace;
}

.bw {
  background-color: rgb(249, 250, 244);
}

.bu {
  background-color: rgb(14, 104, 172);
  filter: saturate(200%);
}

.bb {
  background-color: rgb(153,50,204);
  filter: brightness(150%) saturate(50%);
}

.br {
  background-color: rgb(211, 32, 42);
  filter: saturate(150%);
}

.bg {
  background-color: rgb(0, 115, 62);
  filter: saturate(300%);
}

.ns {
  -webkit-user-select: none !important; /* Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+/Edge */
  user-select: none !important; /* Standard */
}

.hidden {
  display: none !important;
}

.icon {
  width: 36px;
  height: 36px;
}

.svg-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-icon .logo-svg {
  width: 80%;
  height: 80%;
}

.svg-icon .recommend-svg {
  width: 88%;
  height: 88%;
}

.svg-icon .primer-svg {
  width: 80%;
  height: 80%;
}

.svg-icon .discord-svg {
  width: 85%;
  height: 85%;
}

.btn {
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--backdrop-color);
}

.btn:hover {
  transition: 0.0s;
  background-color: var(--darker);
}

nav a {
  color: inherit;
  text-decoration: none;
}

.list {
  padding: 0;
  list-style-type: none;
}

.pt {
  cursor: pointer;
}

/* Global Styles */
html {
  height: 100%;
  touch-action: manipulation;
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: var(--backdrop-color);
  color: white;
  height: 100%;
}

#wrapper {
  background-color: var(--canvas-color);
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Top bar styles */
#top-bar {
  flex: 0 1 auto;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 3px solid var(--backdrop-color);
  background-color: var(--secondary-color);
}

#nav-space {
  flex-grow: 1;
}

#logo {
  display: flex;
  align-items: center;
  width: 400px;
}

#logo h1 {
  font-size: 12pt;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

#logo span {
  font-size: 20pt;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

#logo .svg-icon {
  height: 40px;
  width: 40px;
  margin: 0 12px;
  background-color: var(--accent-color);
}

nav .btn {
  font-size: 14pt;
  padding: 16px;
  min-width: 170px;
  background-color: var(--secondary-color);
}

#nav-discord svg {
  margin: 0px 16px;
  height: 48px;
  fill: var(--discord);
}

/* Message of the Day */
header {
  padding: 8px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color);
  color: black;
  line-height: 1.5;
}

#motd-close {
  cursor: pointer;
  transition: 0.5s;
  margin-left: 16px;
  margin-right: 8px;
  font-size: 28pt;
  line-height: 16px;
  color: black;
}

#motd-close:hover {
  color: red;
  transition: 0s;
}

/* Universal content styles */
#content {
  display: flex;
  flex: 1 1 auto;
  overflow: auto;
  bottom: 0;
}

#copyright {
  color: lightgray;
  font-size: 10pt;
  padding-bottom: 16px;
}

/* Mobile Adjustments */
@media (max-width: 1200px) {
  nav {
    padding: 8px;
    align-items: stretch !important;
  }
  
  #nav-space {
    flex-grow: 0;
  }
  
  #nav-discord img {
    height: 26px;
    margin: 0;
    margin-left: 8px;
  }
  
  #logo {
    width: auto;
    margin-right: 8px;
    height: 100%;
  }
  
  #logo h1, #logo span {
    display: none;
  }
  
  #logo img {
    height: 30px;
    padding: 0;
  }
  
  nav .btn {
    font-size: 12pt !important;
    padding: 0;
    min-width: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav .btn span {
    vertical-align: middle;
  }
  
  nav .m-hide {
    display: none;
  }
}
