@media (max-width: 1200px) {
  #content {
    flex-direction: column;
  }
  
  aside, section{
    width: auto !important;
    overflow: visible !important;
  }
  
  section {
    margin: 4px !important;
  }
}

#nav-request {
  background-color: var(--darker);
}

/* Section Styles */
section {
  margin: 16px;
}

aside {
  background-color: var(--secondary-color);
  padding: 16px;
  overflow: auto;
  width: 30%;
}

/* Form Styles */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtext {
  font-size: 12pt;
  padding-top: 4px;
  font-style: italic;
}

form {
  font-size: 16pt;
  padding-left: 8px;
}

form > div {
  margin-bottom: 16px;
}

#edit-select {
  margin-top: 4px;
}

form input::placeholder, form textarea::placeholder {
  opacity: .75;
  font-style: italic;
  color: white;
}

form input, form textarea, form select, form button {
  background-color: var(--darker);
  color: white;
  border: none;
}

form select {
  font-size: 18pt;
  padding: 8px 16px;
}

form [type="text"] {
  font-size: 14pt;
  padding: 8px;
}

textarea {
  font-size: 12pt;
  font-family: sans-serif;
  padding: 8px;
}

#submit-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

#submit-button {
  font-size: 18pt;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--accent-color);
  color: black;
}

#submit-button:hover {
  filter: brightness(0.9);
}
