/* Mobile Adjustments */
@media (max-width: 1200px) {
  #ddb {
    display: flex;
    flex-direction: column;
  }
  
  #ddb tbody {
    display: flex;
    flex-direction: column;
  }
  
  #ddb td {
    border: none;
  }
  
  #ddb tr {
    border-top: 2px solid var(--darker);
  }
  
  .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .deck-title {
    order: 1;
    width: 100%;
    padding-top: 0px !important;
  }
  
  .deck-title span {
    padding-left: 0 !important;
  }
  
  .deck-commander {
    display: none;
  }
  
  .deck-info {
    display: flex;
    flex-direction: column;
    padding: 16px !important;
    height: auto !important;
  }
  
  .info-wrap {
    display: flex;
    flex-direction: column;
  }
  
  .info-wrap > div {
    margin-left: 0 !important;
  }
  
  .d-commanders {
    order: -1;
    font-size: 16pt !important;
  }
  
  .links {
    min-width: auto !important;
  }
  
  .links ul {
    height: auto !important;
  }
  
  .desc-wrapper {
    display: flex;
    flex-direction: column;
    padding: 8px !important;
    width: auto !important;
  }
  
  .d-date {
    position: static !important;
    text-align: left !important;
    margin-top: 16px;
  }
  
}

/* Database Styles */
#ddb {
  width: 100%;
  padding-bottom: 32px;
  border-spacing: 0;
}

#ddb a {
  color: inherit;
  text-decoration: none;
}

td {
  border-top: 2px solid var(--darker);
}

.col1 {
  width: 240px;
}

.col3 {
  width: 230px;
}

.d-icon {
  height: 28px;
}

table .svg-icon {
  height: 28px;
  width: 28px;
  background-color: white;
  border-radius: 50%;
}

.deck-tags .icon-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.deck-tags .icon-wrap div {
  margin-left: 4px;
}

/* Main Row Styles */
.main {
  background-color: var(--backdrop-color);
  transition: 0.3s;
  cursor: pointer;
}

.main:hover {
  background-color: var(--darker);
  transition: 0.0s;
}

.main td {
  padding: 8px 16px;
}

.c-inactive {
  filter: brightness(0%) invert(.4);
}

.t-false {
  filter: invert(100%) brightness(50%);
}

.deck-tags {
  text-align: right;
}

.deck-title span {
  font-size: 16pt;
  padding-left: 16px;
}

/* Sub Row Styles */
.sub td {
  background-color: var(--lighter);
}

.sub, .card-wrap, .deck-description {
  height: 100%;
  width: 100%;
}

.card2 {
  height: 354px;
}

.card-wrap {
  padding-top: 15px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 11px;
  position: relative;
}

.card {
  width: 100%;
  border-radius: 12px;
}

.card:hover {
  z-index: 2;
}

.card2 .card {
  position: absolute;
  width: 226px;
}

.card:nth-child(2) {
  position: absolute;
  margin-left: 18px;
  margin-top: 35px;
  z-index: 1;
}

.deck-info {
  height: 100%;
  padding: 16px;
  padding-left: 8px;
  vertical-align: text-top;
}

.info-wrap {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.info-wrap > div {
  margin-left: 16px;
}

.links {
  min-width: 320px;
  position: relative;
  background-color: var(--canvas-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d-discord {
  display: flex;
  align-items: center;
  border-radius: 0px;
  text-align: left;
  padding: 8px;
  font-size: 14pt;
}

.d-discord img {
  padding-right: 10px;
  padding-left: 2px;
  height: 26px;
}

.no-discord {
  cursor: not-allowed !important;
}

.no-discord img {
  filter: grayscale(100%) brightness(0%);
}

.deck-list {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  overflow: auto;
  scrollbar-width: thin;
  height: 232px;
  margin-bottom: 0;
  
}

.deck-list li {
  margin-bottom: 8px;
}

.deck-list li a {
  display: flex;
  align-items: center;
}

.deck-list span {
  margin-left: 8px;
  color: skyblue;
  font-weight: bold;
  font-size: 12pt;
  text-decoration: underline;
}

.d-commanders {
  font-size: 14pt;
  padding: 8px;
  line-height: 1.5;
  color: skyblue;
  text-decoration: underline;
  bottom: 0;
}

.desc-wrapper {
  width: 100%;
  position: relative;
  background-color: var(--canvas-color);
  padding: 16px;
}

.description {
  width: 100%;
  font-size: 14pt;
  position: relative;
  max-height: 280px;
  overflow: auto;
}

.d-date {
  position: absolute;
  bottom: 8px;
  width: 100%;
  padding: 0;
  right: 16px;
  font-size: 12pt;
  text-align: right;
  font-style: italic;
}

.date {
  font-weight: bold;
  font-size: 14pt;
  font-style: normal;
}
